*{
    margin: 0;
    padding: 0;;
}

body {
    background-color:#282a36;
    color: #f8f8f2;
}

.title {
    padding: 0.5rem;
}
.card {
    border: 2px solid #50fa7b;
    padding: 0.5rem;
}

.item {
    padding: 1px;
    background-color: #ff5555;
    color: #f8f8f2;
    text-align: center;
    border: 1px solid #8be9fd;
}