/* Flex Box*/

.flex {
    display: flex; /* or inline-flex */
}

 /* Flex-Direction */

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

/* Flex-Wrap */

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* Flex-Flow  -- {flex-direction + flex-wrap} */

.flex-flow {
    flex-flow: column wrap;
}