*{
    margin: 0;
    padding: 0;;
}

/* Flex Box*/

.flex {
    display: flex; /* or inline-flex */
}

// Flex-Direction

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}


/* General Styling*/

.title {
    padding: 0.5rem;
}
.card {
    border: 2px solid red;
    padding: 0.5rem;
}