/* Flex Box*/

.flex {
    display: flex; /* or inline-flex */
}

 /* Flex-Direction */

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

/* Flex-Wrap */

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* Flex-Flow  -- {flex-direction + flex-wrap} */

.flex-flow {
    flex-flow: column wrap;
}

/* Justify-Content */

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

/* align-items */

.stretch {
    align-items: stretch;
}

.ai-flex-start {
    align-items: flex-start;
}

.ai-flex-end {
    align-items: flex-end;
}

.ai-center {
    align-items: center;
}

.ai-baseline {
    align-items: baseline;
}

/* align-content */

.ac-flex-start {
    align-content: flex-start;
}

.ac-flex-end {
    align-content: flex-end;
}

.ac-center {
    align-content: center;
}

.ac-stretch {
    align-content: stretch;
}

.ac-space-between {
    align-content: space-between;
}

.ac-space-around {
    align-content: space-around;
}

/* order */